body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
}

.header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #e7e9fc;
}

.title {
    background-color: #2E2F42;
    color: #FFFFFF;
    text-align: center;
    max-width: 1440px;
    height: 600px;
    padding: 188px 0;
    margin: 0 auto;
}

.container-first {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.title-one {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin: 0 auto 48px;
    max-width: 496px;
}

.title-two {
    color: #2E2F42;
    margin-bottom: 8px;
    text-align: center;
}

.title-three {
    margin-right: auto;
    margin-left: auto;
    padding-top: 120px;
    padding-bottom: 72px;
    margin-bottom: 72px;
}

.desc {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.descr {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: start;
    padding-left: 16px;
}

.btn {
    font-family: "Roboto", sans-serif;
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-weight: 500;
    cursor: pointer;
    display: block;
    margin-top: 48px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    min-width: 169px;
    height: 56px;
    margin-right: auto;
    margin-left: auto;
    padding: 16px 32px;
}

.team {
    background-color: #f4f4fd;
    width: 1440px;
    height: 732px;
    padding: 120px 0;
}


.team-list {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 120px;
    padding-left: 0px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08); 
    margin-left: auto;
    margin-right: auto;
}

.item {
    background-color: #FFFFFF;
    padding-left: 0;
    margin: 0;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.team-con {
padding: 32px 0;
}

.port {
padding-top: 120px;
padding-bottom: 120px;
}

.portfolio-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-width: 1128px;
    height: 1000px;
    padding-left: 0;
    margin: 0;
    flex-wrap: wrap;
    gap: 48px 24px;
    padding: 0;
    margin: 0;
    list-style: none;
    align-items: center;
}

.title-twoo {
    color: #2E2F42;
    margin-bottom: 8px;
    text-align: start;
    padding-left: 16px;
}

.portfolio-list-item {
    width: calc((100% - 48px) / 3);
    row-gap: 24px;
    column-gap: 48px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-con {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}


.footer {
    background-color: #2E2F42;
    color: #F4F4FD;
    padding: 100px 0;
}

.text {
    color: #F4F4FD;
    max-width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    padding-top: 24px;
    padding-right: 76px;
    padding-bottom: 24px;
    padding-left: 156px;
    margin-right: 76px
}

.logo-bottom {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    display: inline-block;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    margin-bottom: 16px;
}

.logo-accent {
    color: #2E2F42;
}

.logo-accentt {
    color: #f4f4fd;
}


h2 {
    font-family: "Raleway", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-left: auto;
    margin-right: auto;
}


h3 {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

p {
    letter-spacing: 0.02em;
    color: #434455;
}

.nav {
    color: #2E2F42;
    display: flex;
    align-items: center;
    gap: 40px;
    align-items: center;
}


.nav-list {
    display: flex;
    gap: 40px;
    padding: 0;
    list-style: none;
}

.address-link {
    margin-left: auto;
}

.address-list {
display: flex;
gap: 40px;
padding: 0;
list-style: none;
}

.nav {
    display: flex;
    gap: 40px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.address {
    justify-content: flex-end;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    gap: 40px;
    flex-direction: row;
}

.address-link,
.nav,
.logo {
    text-decoration: none;
}


.link {
    color: #434455;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0.02em;
    font-weight: 500;
}

.link-one {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
}

.link-one:hover,
.link-one:focus {
    color: #404BBF;
}

.nav .link:hover,
.nav .link:focus {
    color: #4D5AE5;
}

.address-link .link:hover,
.address-link .link:focus {
    color: #404BBF;
}

.btn:hover,
.btn:focus {
    background-color: #404BBF;
}

.logo:hover,
.logo:focus {
    color: #4D5AE5;
}

address {
    font-style: normal;
}

.link:hover,
.link:focus {
    color: #404BBF;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.header-container {
    display: flex;
}

.container {
    max-width: 1158px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    color: rgba(0, 0, 0, 0);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    padding-top: 120px;
    padding-right: 0px;
    padding-bottom: 120px;
    padding-left: 0px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1128px;
}
 

.features-list-item {
 width:calc((100% - 72px) / 4);
}

.features-first {
    padding: 120px 0;
}

img {
    display: block;
}